[Unit]
Description=everpaste

[Service]
ExecStart=/bin/bash /var/www/everpaste/server/tools/start.sh
Restart=always
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/var/www/everpaste/server/tools

[Install]
WantedBy=multi-user.target
