.light-blue-text { color: #6b9cff; }
.brown-text { color: #daa520 }
.gray-text { color: #abb2bf; }
.red-text { color: red; }
.off-white-text { color: #faebd7; }
.white-text { color: white; }

.white-links {
  a {
    color: white;
  }
}

.red-links {
  a {
    color: red;
  }
}

.added {
  background: #608e60;
}
.removed {
  background: #904747;
}
