/* Vendors */
@import 'vendors/normalize.scss';

/* Helpers */
@import 'helpers.scss';

/* Themes */
@import 'themes/index.scss';

/* Blocks */
@import 'blocks/HeaderBlock.scss';

/* Views */
@import 'views/index.scss';

body {
  background: #282c34;
}

a {
  text-decoration: none;
  cursor: pointer;
}

pre {
  margin: 0;
}

ul {
  padding: 0;
}

.line-number {
  vertical-align: top;
  color: #8d8d89;
}

.code-title {
  text-align: center;
  font-size: 1.3em;
  font-family: $primary-font;
  font-weight: bold;
  padding-left: 8px;
  .from-name {
    color: #bfb5b5;
    padding-left: 10px;
    font-size: 0.8em;
  }
}

.code-document {
  height: calc(100vh - 90px);
}

.code-table {
  line-height: .8;
  overflow: hidden;
  counter-reset: code-table;

  tr td:nth-of-type(1)::before {
    counter-increment: code-table;
    content: counter(code-table) ' ';
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  tr td:nth-of-type(1) {
    padding-right: 10px;
  }

  tr.code-row {
    word-break: break-all;
    word-break: break-word;
  }
  td.code-col {
    white-space: pre-wrap;
  }
  td.line-number {
    white-space: nowrap;
  }
}


.settings-code-document {
  padding-top: 10px;
}

/* Loader Animation */
.loader {
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  opacity: 0.8;
  text-align: center;
  padding-top: 20px;
  span {
    display: inline-block;
    font-size: 20vh;
    animation: pulse 0.4s alternate infinite ease-in-out;
    &:nth-child(odd) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

/* End Loader Animation */
