/* Vendors */
@import 'vendors/normalize.scss';


/* Themes */
@import 'themes/index.scss';

@import 'blocks.scss';
@import 'colors.scss';
@import 'forms.scss';
@import 'helpers.scss';
@import 'tables.scss';
@import 'views.scss';

body {
  background: #282c34;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

pre {
  margin: 0;
}

ul {
  padding: 0;
}

.theme-selection {
  width: 200px;
  height: 25px;
  color: #abb2bf;
  transition: 0.2s;
}

/* Loader Animation */
.loader {
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  opacity: 0.8;
  text-align: center;
  padding-top: 20px;
  overflow: hidden;
  span {
    display: inline-block;
    font-size: 20vh;
    animation: pulse 0.4s alternate infinite ease-in-out;
    &:nth-child(odd) {
      animation-delay: 0.4s;
    }
  }
}

.file-download {
  text-decoration: none;
  color: #c3baba;
  a {
    color: #c3baba;
  }
  img {
    max-width: 500px;
    max-height: 500px;
  }
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

/* End Loader Animation */
