/* Fonts */
$primary-font: 'Open Sans', sans-serif;
$code-font: monospace, monospace;

/* Media Queries */
$query-extra-small: '(min-width: 320px)' !default;
$query-small: '(min-width: 480px)' !default;
$query-medium: '(min-width: 768px)' !default;
$query-large: '(min-width: 992px)' !default;
$query-extra-large: '(min-width: 1200px)' !default;
