@import "../variables.scss";

.header-block {
  background: #2B384E;
  width: 100%;
  min-height: 60px;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      margin-left: 15px;
      height: 30px;
    }
    h1 {
      margin-left: 5px;
      font-family: $primary-font;
      color: white;
      font-size: 18px;
      display: inline-block;
    }
  }

  .right-nav {
    ul {
      list-style: none;
    }
    a {
      color: white;
    }
    .mobile-navigation {
      transition: .4s;
      position: absolute;
      background: #fff;
      width: 100%;
      top: -10;
      left: 0;
      z-index: 50;
      font-size: 25px;
      transform: translateY(6%);
      opacity: 0;
      box-shadow: 15px 15px 45px -20px rgba(0,0,0,0.75);
      &.active {
        transform: translateY(11%);
        opacity: 1
      }
      @media (min-width: 480px) {
        display: none;
      }
      a {
        padding: 15px;
        border-top: 1px solid rgba(0, 43, 54, .2);
        background: #fff;
        display: block;
        transition: .3s;
        color: #002b36;
        .disabled {
          color: gray;
          cursor: not-allowed;
        }
        &:hover {
          background: #eee;
        }
        i {
          padding-right: 25px;
          padding-left: 10px;
        }
      }
    }
    .mobile-overlay {
      height: 100vh;
      width: 100%;
      position: absolute;
      background: transparent;
      overflow: hidden;
      top: -60px;
      left: 0;
    }
    .mobile-navicon {
      display: flex;
      a {
        font-size: 25px;
        margin-right: 15px;
      }
      @media (min-width: 480px) {
        display: none;
      }
    }
    .desktop-navicon {
      display: none;
      font-family: $primary-font;
      @media (min-width: 480px) {
        display: flex;
        a {
          font-size: 23px;
          margin-right: 8px;
          padding: 10px;
          transition: .4s;
          &:hover {
            color: #2aa198;
          }
          &:hover .navigation-tooltip {
            opacity: 1;
            transform: translate(-70%, 70%);
          }
        }
        .navigation-tooltip {
          color: white;
          transition: .7s;
          opacity: 0;
          padding: 10px;
          font-size: 13px;
          position: absolute;
          transform: translate(-70%, -20%);
          background: rgba(0, 0, 0, 0.4);
          bottom: 0;
        }
      }
    }
  }

  .disabled i {
    color: gray;
    cursor: not-allowed;
  }

}
