/* Vendors */
@import 'vendors/normalize.scss';
@import 'vendors/pure-forms';

/* Themes */
@import 'themes/index.scss';

/* Layouts */
@import 'layouts/header.scss';

body {
  padding-top: 50px;
  margin:0;
  background: #282c34;
}

a {
  text-decoration: none;
}

pre {
  margin: 0;
}

ul {
  padding: 0;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-number {
  vertical-align: top;
  color: #8d8d89;
  padding-right: 10px;
}

.error-messages {
  color: red;
  text-align: center;
  position: absolute;
  transform: translateX(150%);
}

.code-title {
  text-align: center;
  font-size: 1.3em;
  font-family: $primary-font;
  font-weight: bold;
  padding-left: 8px;
  .from-name {
    color: #bfb5b5;
    padding-left: 10px;
    font-size: 0.8em;
  }
}

.code-document {
  height: calc(100vh - 90px);
}

.code-table {
  line-height: .8;
  overflow: hidden;
}

tr.code-row {
  word-break: break-all;
  word-break: break-word;
}
td.line-number {
  white-space: nowrap;
}

.settings-code-document {
  padding-top: 10px;
}

.main-nav {
  z-index: 10;
}
/* Root Container */
.main-container {
  height: calc(100% - 16px);
  background: #282c34;
  .title-container {
    display: flex;
    color: inherit;
    input {
      color: #abb2bf;
      font-family: $primary-font;
      font-size: 20px;
      background: transparent;
      box-shadow: none;
      width: 100%;
      border: none;
      padding: 15px;
      text-align: center;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      position: relative;
      top: 8px;
      border-bottom-color: #abb2bf;
      transition: .4s;
      &::-webkit-input-placeholder {
        color: inherit;
      }
      &:focus,
      &:active {
        border-bottom: 1px solid #5891cb;
        box-shadow: none;
        outline: none;
        color: #56b6c2;
      }
    }
  }
  .option-container {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
  }
  .pure-form {
    margin: 0;
    width: 100%;
    text-align: center;
    .pure-radio {
      display: inline;
      margin-right: 7px;
    }
    label {
      padding-left: 10px;
      padding-right: 15px;
      color: #abb2bf;
      display: inline-block;
    }
    select {
      margin-left: 10px;
    }
  }
  .text-container {
    text-align: center;
    padding: 15px;
    textarea {
      height: calc(100vh - 239px);
      background: transparent;
      color: #abb2bf;
      width: 100%;
      font-family: $code-font;
      border: 1px solid #abb2bf;
      transition: .4s;
      padding: 20px;
      border-radius: 3px;
      &:focus,
      &:active {
        outline: none;
        border: 1px solid #5891cb;
        color: #56b6c2;
      }
      &::-webkit-input-placeholder {
        font-family: $primary-font;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        font-size: 30px;
        position: relative;
        top: -10px;
        color: #abb2bf;
        &:focus,
        &:active {
          color: #56b6c2;
        }
      }
    }
  }
}

.paste-view {
  padding: 15px;
  display: flex;
  flex-direction: column
}

.code-information-container {
  display: flex;
  justify-content: space-around;
  padding: 3px;
  .code-theme-selector {
    label {
      padding-right: 5px;
      font-family: $primary-font;
      font-weight: bold;
    }
  }
}

.code-container {
  position: relative;
  top: 10px;
}

.settings-header {
  text-align: center;
  color: #abb2bf;
  padding-top: 20px;
}

.settings-sub-header {
  text-align: center;
  color: #abb2bf;
  padding-top: 15px;
}

.theme-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
}

.theme-selection {
  width: 200px;
  height: 25px;
  color: #abb2bf;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    color: white;
  }
}

/* Loader Animation */
.loader {
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  opacity: 0.8;
  text-align: center;
  padding-top: 20px;
  span {
    display: inline-block;
    font-size: 20vh;
    animation: pulse 0.4s alternate infinite ease-in-out;
    &:nth-child(odd) {
      animation-delay: 0.4s;
    }
  }
}

.input-dark {
  box-shadow: none !important;
  color: #abb2bf;
  background: transparent !important;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

/* End Loader Animation */
