/* Vendors */
@import 'vendors/normalize.scss';
@import 'vendors/pure-forms';

/* Themes */
@import 'themes/darcula.scss';

/* Layouts */
@import 'layouts/header.scss';

body {
  background: #22252f;
  padding-top: 50px;
  margin:0;
}

a {
  text-decoration: none;
}

pre {
  margin: 0;
}

ul {
  padding: 0;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-number {
  vertical-align: top;
  color: #8d8d89;
  padding-right: 10px;
}

.error-messages {
  color: red;
  text-align: center;
}

.code-title {
  color: white;
  text-align: center;
  font-size: 1.3em;
  font-family: $primary-font;
  font-weight: bold;
  padding-left: 8px;
  @media (min-width: 768px) {
    text-align: initial;
  }
  .from-name {
    color: #bfb5b5;
    padding-left: 10px;
    font-size: 0.8em;
  }
}

/* Root Container */
.main-container {
  padding-top: 15px;
  .title-container {
    padding: 0 50px;
    display: block;
    input {
      color: white;
      font-family: $primary-font;
      font-size: 20px;
      background: transparent;
      box-shadow: none;
      border: none;
      width: 100%;
      padding: 10px;
      text-align: center;
      border-bottom: 1px solid gray;
      transition: .4s;
      &:focus,
      &:active {
        border-bottom: 1px solid #5891cb;
        box-shadow: none;
        outline: none;
      }
    }
  }
  .option-container {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding-top: 10px;
  }
  .pure-form {
    margin: 0;
    .pure-radio {
      display: inline;
      margin-right: 7px;
    }
    label {
      color: white;
      padding-left: 10px;
      padding-right: 15px;
    }
  }
  .text-container {
    text-align: center;
    padding: 0 50px;
    textarea {
      color: white;
      height: 80%;
      background: transparent;
      width: 100%;
      font-family: $code-font;
      border: 1px solid gray;
      transition: .4s;
      padding: 30px;
      border-radius: 3px;
      &:focus,
      &:active {
        outline: none;
        border: 1px solid #5891cb;
        &::-webkit-input-placeholder {
          color: white;
        }
      }
      &::-webkit-input-placeholder {
        font-family: $primary-font;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        font-size: 30px;
        position: relative;
        top: -10px;
      }
    }
  }
}
