@import './HelpView.scss';
@import './NotFoundView.scss';
@import './PasteView.scss';
@import './PublicListView.scss';
@import './ReadView.scss';
@import './SavedView.scss';
@import './SettingsView.scss';

/* Root Container */


.paste-view,.public-list-view{
  display: flex;
  flex-direction: column
}

.code-information-container {
  display: flex;
  justify-content: space-around;
  padding: 3px;
  .code-theme-selector {
    label {
      padding-right: 5px;
      font-family: $primary-font;
      font-weight: bold;
    }
  }
}

.code-container {
  position: relative;
  top: 10px;
}

.input-dark {
  box-shadow: none !important;
  color: #abb2bf;
  background: transparent !important;
}

.added {
  background: #608e60;
}
.removed {
  background: #904747;
}

.flex-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  .view-container {
    flex: auto;
    overflow: auto;
  }
}

.view-container {
  .text-container {
    text-align: center;
    padding: 15px;
    textarea {
      background: transparent;
      color: #abb2bf;
      width: 100%;
      font-family: $code-font;
      border: 1px solid #abb2bf;
      transition: .4s;
      padding: 20px;
      border-radius: 3px;
      &:focus,
      &:active {
        outline: none;
        border: 1px solid #5891cb;
        color: #56b6c2;
      }
      &::-webkit-input-placeholder {
        font-family: $primary-font;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        font-size: 30px;
        position: relative;
        top: -10px;
        color: #abb2bf;
        &:focus,
        &:active {
          color: #56b6c2;
        }
      }
    }
  }

  textarea {
    resize: none;
    flex: auto;
  }

  input, select {
    display: inline-block;
    color: #abb2bf;
    font-family: $primary-font;
    font-size: 100%;
    line-height: 1.15;
    background: transparent;
    box-shadow: none;
    margin: 0 auto;
    position: relative;
    top: 8px;
    transition: .4s;
    border-radius: 4px;
    border: 1px solid #ccc;
    vertical-align: super;
    box-sizing: border-box;
    &::-webkit-input-placeholder {
      color: inherit;
    }
    &:focus,
    &:active {
      border: 1px solid #5891cb;
      box-shadow: none;
      outline: none;
      color: #56b6c2;
    }
  }

  .fork-info {
    text-align: center;
    color: #6b9cff;
    margin-top: 5px;
    .link, a {
      cursor: pointer;
      color: inherit;
    }
  }

}
