@import './PasteView';
@import './PublicListView';
@import './SavedView';
@import './SettingsView';

/* Root Container */


.paste-view,.public-list-view{
  display: flex;
  flex-direction: column
}

.code-information-container {
  display: flex;
  justify-content: space-around;
  padding: 3px;
  .code-theme-selector {
    label {
      padding-right: 5px;
      font-family: $primary-font;
      font-weight: bold;
    }
  }
}

.code-container {
  position: relative;
  top: 10px;
}

.input-dark {
  box-shadow: none !important;
  color: #abb2bf;
  background: transparent !important;
}
