.paste-view {
  flex: auto;
  overflow: auto;
  .view-container {
    display: flex;
    flex-direction: column;
  }
  .error-messages {
    color: red;
    text-align: center;
    margin-top: 5px;
  }
  .options-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    
    .option {
      display: flex;
      text-align: left;
      width: 290px;
      vertical-align: baseline;
      margin: 5px;
      .label {
        margin-top: auto;
      }
      select {
        margin-left: 10px;
        width: 188px;
        padding: 0.4em 0.6em;
      }
      input[name=title] {
        margin-left: 10px;
        width: 229px;
        padding: 0.5em 0.6em;
      }
      input[name=name] {
        margin-left: 10px;
        width: 216px;
        padding: 0.5em 0.6em;
      }
    }

    .radio {
      margin-right: 5px;
    }
    .radio-option {
      margin-right: 13px;
    }
  }

  .tab-options {
    text-align: left;
    span {
      cursor: pointer;
      color: #abb2bf;
      padding: 5px 10px 0 5px;
    }
    span.active {
      border: 1px solid #5891cb;
      border-bottom: none;
      box-shadow: none;
      outline: none;
      color: #56b6c2;
    }
  }

  textarea {
    resize: none;
    flex: auto;
  }

  input, select {
    display: inline-block;
    color: #abb2bf;
    font-family: $primary-font;
    font-size: 100%;
    line-height: 1.15;
    background: transparent;
    box-shadow: none;
    margin: 0 auto;
    position: relative;
    top: 8px;
    transition: .4s;
    border-radius: 4px;
    border: 1px solid #ccc;
    vertical-align: super;
    box-sizing: border-box;
    &::-webkit-input-placeholder {
      color: inherit;
    }
    &:focus,
    &:active {
      border: 1px solid #5891cb;
      box-shadow: none;
      outline: none;
      color: #56b6c2;
    }
  }

  .text-container {
    display: flex;
    flex: auto;
    flex-direction: column;
  }

  .upload-container {
    text-align: center;
    padding: 15px;
    display: flex;
    flex: auto;
    flex-direction: column;
    .dropzone {
      display: flex;
      flex: auto;
      color: #abb2bf;
      border: 2px dashed #ccc;
      border-radius: 5px;
      align-items: center;
      font-size: 25px;
      div {
        margin: 0 auto;
      }
    }
  }
  .option-container {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
  }

}
