.paste-view {
  flex: auto;
  overflow: auto;
  .view-container {
    display: flex;
    flex-direction: column;
  }

  .title-container {
    display: flex;
    color: inherit;
    input {
      color: #abb2bf;
      font-family: $primary-font;
      font-size: 20px;
      background: transparent;
      box-shadow: none;
      width: 98%;
      margin: 0 auto;
      border: none;
      padding: 15px;
      text-align: center;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      position: relative;
      top: 8px;
      border-bottom-color: #abb2bf;
      transition: .4s;
      &::-webkit-input-placeholder {
        color: inherit;
      }
      &:focus,
      &:active {
        border-bottom: 1px solid #5891cb;
        box-shadow: none;
        outline: none;
        color: #56b6c2;
      }
    }
  }

  .option-container {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
  }

}
