.read-view {
  .file-download {
    text-decoration: none;
    color: #c3baba;
    a {
      color: #c3baba;
    }
    img {
      max-width: 500px;
      max-height: 500px;
    }
  }

  .diff-block {
    background: transparent;
    color: #abb2bf;
    transition: .4s;
    padding: 5px;
    flex: 1;
    text-align: left;
    overflow-x: auto;
    .added {
      background: #608e60;
    }
    .removed {
      background: #904747;
    }
    pre {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }

  .diff-option {
    cursor: pointer;
  }

  .secret-form {
    input {
      padding: 10px;
      width: 70%;
    }
  }
}