.saved-view {
  .view-container {
    color: white;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 80%;
    margin: 0 auto;
    a {
      text-decoration: none;
      color: red;
    }
  }
}
