<html>
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <meta name="robots" content="noindex,nofollow" />
</head>
<body>
  <div id="root"></div>
</body>
</html>
